<app-barra></app-barra>
<img src="assets\f5.jpg" class="img_back">


<div class="content" role="main">

       

        <!-- Resources -->
        <h2>Tiendas que colaboran con nosotros</h2>
        <p>se ponen a tu disposición</p>
      
        <div class="card-container">
          <a class="card"  href="https://www.giant-bicycles.com/mx">
          <img
            width="50"
            src="assets\icon8.png"
          />
            <span>GIANT</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
      
      
          <a class="card" target="_blank" rel="noopener" href="https://bikestoptuxtla.com/">
            <img
            width="50"
            src="assets\icon9.png"
          />
            <span>BIKE STOP</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
      
          <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/zonariderchiapas/">
            <img
            width="50"
            src="assets\icon2.png"
          />
            <span>ZONA RIDER</span>
      
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/factorfiveshop/">
            <img
            width="50"
            src="assets\icon7.png"
          />
            <span>FACTOR FIVE</span>
      
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/Montal-bike-157153054696258/ ">
            <img
            width="50"
            src="assets\icon4.png"
          />
            <span>MONTAL BIKE</span>
      
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>

          <a class="card" target="_blank" rel="noopener" href="https://www.facebook.com/pages/Outdoor-Sport-MTB-Shop/202948453424154">
            <img
            width="50"
            src="assets\icon5.png"
          />
            <span>OUT DOOR SPORT</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
          </a>
      
        </div>
        
      
        <!-- footer -->
        <p>¿ Gustas promocionarte ? </p>
      
        <input type="hidden" #selection>
      

      

